.home-padding-top {
  padding-top: 56px;
}

.home-header {
  width: 100%;
  height: 142px;
  background: linear-gradient(
    107.9deg,
    var(--base-text-color-red-10) 0%,
    var(--base-text-color-orange-10) 100%
  );
  color: #fff;
  font-family: RobotoLight;
  padding: 25px 100px 25px 41px;
}

.home-header strong {
  font-family: RobotoBold;
}

.home-greeting {
  font-size: 14px;
  margin-bottom: 6px;
}

.home-message {
  font-size: 25px;
  border-left: 1px solid #fff;
  padding-left: 11px;
}

.home-reorder-container,
.home-create-pizza-container {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  width: 332px;
  margin-left: 22px;
  border-radius: 20px;
}

.home-reorder-container {
  height: 218px;
  margin-top: -22px;
}

.home-reorder-pizza-image {
  position: absolute;
  top: 0;
  left: 0;
}

.home-reorder-container-left {
  position: relative;
}

.home-reorder-container-right {
  padding-top: 41px;
  padding-left: 163px;
  font-family: "RobotoBold";
}

.home-reorder-title {
  font-size: 20px;
  color: var(--base-text-color-red-10);
}

.home-reorder-ingredients {
  font-size: 10px;
  text-transform: uppercase;
  color: var(--base-text-color-gray-10);
  letter-spacing: 1px;
  margin-top: 2px;
}

.home-reorder-price {
  font-size: 20px;
  color: var(--base-text-color-gray-10);
  margin-top: 4px;
}

.home-add-to-cart-button {
  font-size: 15px;
  text-align: center;
  background: linear-gradient(
    107.9deg,
    var(--base-text-color-red-10) 1.55%,
    var(--base-text-color-orange-10) 94.08%
  );
  box-shadow: 0px 6px 25px rgb(245 49 63 / 40%);
  border-radius: 20px;
  padding: 12px 20px;
  color: #fff;
  line-height: 18px;
  text-transform: capitalize;
  margin-top: 10px;
  letter-spacing: -0.3px;
}

.home-create-pizza-container {
  margin-top: 20px;
  height: 386px;
  border-radius: 20px 20px 0 0;
  font-family: "RobotoLight";
  font-size: 25px;
}

.home-create-pizza-header {
  text-align: center;
  padding-top: 31px;
}

.home-create-pizza-title {
  color: var(--base-text-color-red-10);
  letter-spacing: -0.3px;
}

.home-create-pizza-title strong {
  font-family: "RobotoBold";
}

.home-create-pizza-subtitle {
  font-family: "RobotoBold";
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--base-text-color-gray-05);
  margin-top: 6px;
}

.home-create-pizza-image-container {
  position: relative;
  height: 306px;
}

.home-create-pizza-image {
  position: absolute;
  bottom: -89px;
  left: -36px;
  max-width: 406px;
  max-height: 406px;
}
