.create-your-pizza .first-background {
  position: relative;
  height: 287px;
  background: linear-gradient(
    107.9deg,
    var(--base-text-color-red-10) 1.55%,
    var(--base-text-color-orange-10) 94.08%
  );
  margin-top: 56px;
  padding: 21px 19px;
  z-index: 10;
}

.create-your-pizza .first-background .title {
  font-family: RobotoLight;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: -0.3px;
  color: #fff;
}

.create-your-pizza .first-background .components {
  font-family: RobotoBold;
  font-style: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
}

.create-your-pizza .first-background .components .white-font {
  color: #fff;
}

.create-your-pizza .first-background .price {
  position: absolute;
  top: 24px;
  right: 23px;
  font-family: RobotoBold;
  font-style: normal;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: -0.3px;
  color: #fff;
}

.create-your-pizza .first-background .pizza {
  position: relative;
  transform: translateY(100px);
}

.create-your-pizza .first-background .pizza .image {
  z-index: 10;
  filter: drop-shadow(0px 20px 50px rgba(255, 126, 32, 0.2))
    drop-shadow(0px 4px 8px rgba(109, 110, 156, 0.4));
}

.create-your-pizza .first-background .pizza .blurry-background {
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  backdrop-filter: blur(10px);
}

.create-your-pizza .first-background .pizza .background {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 4px 15px rgba(218, 218, 229, 0.2);
}

.create-your-pizza .first-background .pizza.medium .image {
  background: url(../../assets/img/pizza-thin-crust-medium.png) no-repeat;
  transform: translate(54px, 5px);
  width: 239px;
  height: 239px;
}

.create-your-pizza .first-background .pizza.medium .image.thick {
  background: url(../../assets/img/pizza-thick-crust-medium.png) no-repeat;
  transform: translate(47px, -3px);
}

.create-your-pizza .first-background .pizza.medium .blurry-background {
  width: 325px;
  height: 325px;
  transform: translate(-50%, -50%);
}

.create-your-pizza .first-background .pizza.medium .background {
  width: 273px;
  height: 273px;
  transform: translate(-50%, -50%);
}

.create-your-pizza .first-background .pizza.small .image {
  background: url(../../assets/img/pizza-thin-crust-small.png) no-repeat;
  transform: translate(67px, 12px);
  width: 216px;
  height: 216px;
}

.create-your-pizza .first-background .pizza.small .image.thick {
  background: url(../../assets/img/pizza-thick-crust-small.png) no-repeat;
  transform: translate(61px, 9px);
}

.create-your-pizza .first-background .pizza.small .blurry-background {
  width: 304px;
  height: 304px;
  transform: translate(-50%, -46%);
}

.create-your-pizza .first-background .pizza.small .background {
  width: 250px;
  height: 250px;
  transform: translate(-50%, -46%);
}

.create-your-pizza .first-background .pizza.large .image {
  background: url(../../assets/img/pizza-thin-crust-large.png) no-repeat;
  transform: translate(33px, -17px);
  width: 286px;
  height: 286px;
}

.create-your-pizza .first-background .pizza.large .image.thick {
  background: url(../../assets/img/pizza-thick-crust-large.png) no-repeat;
  transform: translate(25px, -23px);
}

.create-your-pizza .first-background .pizza.large .blurry-background {
  width: 345px;
  height: 345px;
  transform: translate(-50%, -57%);
}

.create-your-pizza .first-background .pizza.large .background {
  width: 313px;
  height: 313px;
  transform: translate(-50%, -57%);
}

.create-your-pizza .outlined-background {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: 0.5px solid var(--base-text-color-gray-13);
  box-sizing: border-box;
  z-index: 0;
}

.create-your-pizza .outlined-background.invisible {
  display: none;
}

.create-your-pizza .outlined-background .background {
  position: absolute;
  bottom: 0;
  left: 39%;
  transform: translate(50%, 50%);
  background: var(--base-text-color-gray-13);
  border-radius: 10px;
  width: 48px;
  padding: 2px 0;
  text-align: center;
}

.create-your-pizza .outlined-background .background.crust-price {
  left: 36%;
  width: 62px;
  padding: 2px 0 3px 0;
}

.create-your-pizza .outlined-background .background .text {
  font-size: 10px;
  font-family: "RobotoBold";
  color: var(--base-text-color-gray-05);
  letter-spacing: 1px;
}

.create-your-pizza .outlined-background.medium {
  width: 401px;
  height: 401px;
  transform: translate(-50%, -66%);
}

.create-your-pizza .outlined-background.small {
  width: 376px;
  height: 362px;
  transform: translate(-50%, -66%);
}

.create-your-pizza .outlined-background.large {
  width: 411px;
  height: 396px;
  transform: translate(-50%, -65%);
}

.create-your-pizza .options {
  display: block;
  width: 335px;
  margin: 224px auto 0 auto;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 15px rgb(218 218 229 / 20%);
  border-radius: 20px;
  color: var(--base-text-color-gray-10);
  font-family: RobotoLight;
  letter-spacing: -0.3px;
}

.create-your-pizza .options.toppings {
  margin: 188px auto 0 auto;
}

.create-your-pizza .options .title {
  text-align: center;
  padding-top: 20px;
  line-height: 23px;
  font-size: 20px;
}

.create-your-pizza .options .title strong {
  font-family: RobotoBold;
}

.create-your-pizza .options .subtitle {
  font-family: RobotoBold;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--base-text-color-gray-05);
  margin-top: 5px;
}

.create-your-pizza .options .buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 32px;
  padding: 0 20px 46px 20px;
  text-align: center;
}

.create-your-pizza .options .buttons .button {
  position: relative;
  width: 98px;
}

.create-your-pizza .options .buttons .button.margin-left {
  margin-right: 54px;
}

.create-your-pizza .options .buttons .button label {
  font-size: 15px;
}

.create-your-pizza
  .options
  .buttons
  .button
  input[type="radio"]:checked
  + label {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  background: linear-gradient(
    107.9deg,
    var(--base-text-color-red-10) 1.55%,
    var(--base-text-color-orange-10) 94.08%
  );
  box-shadow: 0px 6px 25px rgb(245 49 63 / 40%);
  border-radius: 20px;
  width: 98px;
  height: 38px;
  transform: translate(-50%, -50%);
  padding-top: 10px;
  font-family: RobotoBold;
  color: #fff;
}

.create-your-pizza .options .buttons .button input[type="radio"] {
  visibility: hidden;
  position: absolute;
}

.create-your-pizza .options .slide-cards .card {
  display: flex;
  justify-content: space-around;
}

.create-your-pizza .options .slide-cards .card .container-title .title {
  font-size: 14px;
  font-family: RobotoBold;
}

.create-your-pizza .options .slide-cards .card .container-title .price {
  font-size: 14px;
  font-family: RobotoThin;
}

.create-your-pizza .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 59px;
}

.create-your-pizza .footer button {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    107.9deg,
    var(--base-text-color-red-10) 1.55%,
    var(--base-text-color-orange-10) 94.08%
  );
  font-family: RobotoBold;
  font-size: 15px;
}
