.dropdown-menu-content {
  visibility: hidden;
  opacity: 0;
  height: 37%;
  width: 90%;
  position: absolute;
  left: 50%;
  top: 60px;
  transform: translateX(-50%);
  transition: all 0.2s;
}

.dropdown-menu-checkbox {
  display: none;
}

.dropdown-menu-checkbox:checked ~ .dropdown-menu-content {
  visibility: visible;
  opacity: 1;
}

.dropdown-menu-list,
.dropdown-menu-list .dropdown-menu-list-item::part(native),
.dropdown-menu-content::part(background) {
  background-color: var(--base-text-color-gray-15);
}

.dropdown-menu-content::part(background) {
  background-color: var(--base-text-color-gray-15);
  border-radius: 0 0 20px 20px;
}

.dropdown-menu-icon {
  font-size: 15px;
}

.dropdown-menu-title-group {
  padding: 10px 20px;
  font-size: 14px;
  color: var(--base-text-color-gray-10);
}

.dropdown-menu-title {
  font-family: RobotoBold;
}

.dropdown-menu-title.title-orange {
  color: var(--base-text-color-orange-10);
}

.dropdown-menu-subtitle {
  font-family: RobotoLight;
}
