.dropdown-menu-content {
  visibility: hidden;
  opacity: 0;
  height: 37%;
  width: 90%;
  position: absolute;
  left: 50%;
  top: 56px;
  transform: translateX(-50%);
  transition: all 0.2s;
  border-top: 1px solid var(--base-text-color-gray-13);
}

.dropdown-menu-backdrop {
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  height: 100%;
}

.dropdown-menu-checkbox {
  display: none;
}

.dropdown-menu-checkbox:checked ~ .dropdown-menu-content {
  visibility: visible;
  opacity: 1;
}

.dropdown-menu-checkbox:checked ~ .dropdown-menu-backdrop {
  backdrop-filter: blur(7px);
  background: rgb(218 218 229 / 40%);
}

.dropdown-menu-list,
.dropdown-menu-list .dropdown-menu-list-item::part(native),
.dropdown-menu-content::part(background) {
  background-color: #fff;
}

.dropdown-menu-content::part(background) {
  background-color: #fff;
  border-radius: 0 0 20px 20px;
}

.dropdown-menu-icon {
  font-size: 15px;
}

.dropdown-menu-title-group {
  padding: 10px 20px;
  font-size: 14px;
  color: var(--base-text-color-gray-10);
}

.dropdown-menu-title {
  font-family: RobotoBold;
}

.dropdown-menu-title.title-orange {
  color: var(--base-text-color-orange-10);
}

.dropdown-menu-subtitle {
  font-family: RobotoLight;
}
