.dropdown-menu-content {
  visibility: hidden;
  opacity: 0;
  height: 200px;
  width: 90%;
  background: blue;
  position: absolute;
  left: 50%;
  top: 60px;
  transform: translateX(-50%);
  transition: all 0.2s;
  border-radius: 0 0 20px 20px;
}

.dropdown-menu-checkbox {
  display: none;
}

.dropdown-menu-checkbox:checked ~ .dropdown-menu-content {
  visibility: visible;
  opacity: 1;
}
