ion-menu::part(container) {
  border-radius: 0 20px 20px 0;
  max-width: 256px;
}

.sidemenu-header {
  padding: 41px 41px;
}

.sidemenu-name {
  font-family: RobotoBold;
  font-size: 20px;
  color: var(--base-text-color-gray-10);
}

.sidemenu-email {
  font-family: RobotoRegular;
  font-size: 14px;
  color: var(--base-text-color-gray-05);
}

.sidemenu-photo {
  height: 85px;
  position: relative;
}

.sidemenu-photo .sidemenu-profile-pic {
  top: 0;
  left: -13px;
  position: absolute;
}

.sidemenu-list,
.sidemenu-list .sidemenu-list-item::part(native),
.sidemenu-content::part(background) {
  background-color: var(--base-text-color-gray-15);
}

.sidemenu-list {
  padding: 62px 25px;
}

.sidemenu-item-text {
  font-family: RobotoRegular;
  font-size: 14px;
  color: var(--base-text-color-gray-10);
  margin-left: 35px;
}

.sidemenu-content-1 {
  min-height: 380px;
  /* border-bottom: 1px solid var(--base-text-color-gray-10); */
}

.sidemenu-content-2 .sidemenu-list,
.sidemenu-content-2 .sidemenu-list .sidemenu-list-item::part(native),
.sidemenu-content-2::part(background) {
  background-color: #fff;
}

.sidemenu-content-2 .sidemenu-list {
  border-top: 1px solid var(--base-text-color-gray-13);
  padding: 19px 25px;
}

.sidemenu-ion-header.header-md {
  border-top: 1px solid var(--base-text-color-gray-13);
  box-shadow: 0px 4px 15px rgb(218 218 229 / 20%);
  border-right: 1px solid var(--base-text-color-gray-13);
  border-bottom: 1px solid var(--base-text-color-gray-13);
}

.sidemenu-ion-header.header-md::after {
  background: none;
}

.sidemenu-ion-menu {
  height: 744px;
  margin-top: 56px;
}

.sidemenu-ion-menu::part(backdrop) {
  opacity: 1 !important;
  background: rgb(218 218 229 / 40%);
  backdrop-filter: blur(7px);
}
