.navbar-ion-page.menu-content.menu-content-overlay.menu-content-open {
  pointer-events: all;
}

.navbar-container ion-toolbar {
  --background: #fff;
}

.navbar-ion-page {
  height: 56px;
  position: fixed;
  width: 100%;
}

.navbar-center {
  font-family: RobotoLight;
  width: 85%;
  display: inline-block;
}

.navbar-center .title-center {
  text-align: center;
  font-size: 15px;
  color: var(--base-text-color-gray-10);
}

.navbar-center .title {
  font-size: 14px;
  color: var(--base-text-color-gray-10);
}

.navbar-center .subtitle {
  font-family: RobotoBold;
  font-size: 10px;
  text-transform: uppercase;
  color: var(--base-text-color-gray-10);
}

.navbar-end {
  width: 15%;
  padding-left: 3%;
  display: inline-block;
}
