p.init {
  padding-top: 46px;
}

.choose-size-page .first-background {
  position: relative;
  height: 287px;
  background: linear-gradient(
    107.9deg,
    var(--base-text-color-red-10) 1.55%,
    var(--base-text-color-orange-10) 94.08%
  );
  margin-top: 56px;
  padding: 21px 19px;
  z-index: 10;
}

.choose-size-page .first-background .title {
  font-family: RobotoLight;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: -0.3px;
  color: #fff;
}

.choose-size-page .first-background .components {
  font-family: RobotoBold;
  font-style: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
}

.choose-size-page .first-background .price {
  position: absolute;
  top: 24px;
  right: 23px;
  font-family: RobotoBold;
  font-style: normal;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: -0.3px;
  color: #fff;
}

.choose-size-page .first-background .pizza {
  position: relative;
  transform: translateY(100px);
}

.choose-size-page .first-background .pizza .image {
  background: url(../../assets/img/pizza-thin-crust-menu.png) no-repeat;
  transform: translate(54px, 5px);
  width: 239px;
  height: 239px;
  z-index: 10;
  filter: drop-shadow(0px 20px 50px rgba(255, 126, 32, 0.2))
    drop-shadow(0px 4px 8px rgba(109, 110, 156, 0.4));
}

.choose-size-page .first-background .pizza .blurry-background {
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgba(255, 255, 255, 0.6);
  width: 325px;
  height: 325px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(10px);
}

.choose-size-page .first-background .pizza .background {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  width: 273px;
  height: 273px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 15px rgba(218, 218, 229, 0.2);
}

.choose-size-page .outlined-background {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 401px;
  height: 401px;
  border-radius: 50%;
  transform: translate(-50%, -66%);
  border: 0.5px solid var(--base-text-color-gray-13);
  box-sizing: border-box;
  z-index: 0;
}

.choose-size-page .outlined-background .background {
  position: absolute;
  bottom: 0;
  left: 39%;
  transform: translate(50%, 50%);
  background: var(--base-text-color-gray-13);
  border-radius: 10px;
  width: 48px;
  padding: 2px 0;
  text-align: center;
}

.choose-size-page .outlined-background .background .text {
  font-size: 10px;
  font-family: "RobotoBold";
  color: var(--base-text-color-gray-05);
  letter-spacing: 1px;
}

.choose-size-page .options {
  display: block;
  width: 335px;
  margin: 235px auto 0 auto;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 15px rgb(218 218 229 / 20%);
  border-radius: 20px;
  color: var(--base-text-color-gray-10);
  font-family: RobotoLight;
  letter-spacing: -0.3px;
}

.choose-size-page .options .title {
  text-align: center;
  padding-top: 20px;
  line-height: 23px;
  font-size: 20px;
}

.choose-size-page .options .title strong {
  font-family: RobotoBold;
}

.choose-size-page .options .buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 32px;
  padding-bottom: 46px;
}

.choose-size-page .options .buttons .button {
  position: relative;
}

.choose-size-page .options .buttons .button label {
  position: relative;
}

.choose-size-page
  .options
  .buttons
  .button
  input[type="radio"]:checked
  + label
  .background {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  background: linear-gradient(
    107.9deg,
    var(--base-text-color-red-10) 1.55%,
    var(--base-text-color-orange-10) 94.08%
  );
  box-shadow: 0px 6px 25px rgb(245 49 63 / 40%);
  border-radius: 20px;
  width: 84px;
  height: 25px;
  transform: translate(-50%, -50%);
}

.choose-size-page .options .buttons .button label span {
  position: relative;
  font-size: 15px;
  z-index: 10;
}

.choose-size-page .options .buttons .button input[type="radio"] {
  visibility: hidden;
  position: absolute;
}
