p.init {
  padding-top: 46px;
}

.choose-size-page .first-background {
  position: relative;
  height: 287px;
  background: linear-gradient(
    107.9deg,
    var(--base-text-color-red-10) 1.55%,
    var(--base-text-color-orange-10) 94.08%
  );
  margin-top: 56px;
  padding: 21px 19px;
}

.choose-size-page .first-background .title {
  font-family: RobotoLight;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: -0.3px;
  color: #fff;
}

.choose-size-page .first-background .components {
  font-family: RobotoBold;
  font-style: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
}

.choose-size-page .first-background .price {
  position: absolute;
  top: 24px;
  right: 23px;
  font-family: RobotoBold;
  font-style: normal;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: -0.3px;
  color: #fff;
}

.choose-size-page .first-background .pizza {
  position: relative;
  transform: translateY(100px);
}

.choose-size-page .first-background .pizza .image {
  background: url(../../assets/img/pizza-thin-crust-menu.png) no-repeat;
  transform: translate(54px, 5px);
  width: 239px;
  height: 239px;
  z-index: 10;
}

.choose-size-page .first-background .pizza .background {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  background-color: #fff;
  width: 270px;
  height: 270px;
  z-index: 0;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
